name: main

on:
  push:
    branches:
      - main
    tags:
      - '*'

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10', '3.11', 'pypy3.9']

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install 'tox>=4.4,<5'

    - name: Test with Python 3.7
      if: matrix.python == '3.7'
      run: tox run -x "tox.envlist=py37-pytest{4,5,60,61,62,70,71,72,73}"

    - name: Test with Python 3.8
      if: matrix.python == '3.8'
      run: tox run -x "tox.envlist=py38-pytest{4,5,60,61,62,70,71,72,73}"

    - name: Test with Python 3.9
      if: matrix.python == '3.9'
      run: tox run -x "tox.envlist=py39-pytest{4,5,60,61,62,70,71,72,73}"

    - name: Test with Python 3.10
      if: matrix.python == '3.10'
      run: tox run -x "tox.envlist=py310-pytest{62,70,71,72,73}"

    - name: Test with Python 3.11
      if: matrix.python == '3.11'
      run: tox run -x "tox.envlist=spy311-pytest{73}"

    - name: Test with PyPy 3.9
      if: matrix.python == 'pypy3.9'
      run: tox run -x "tox.envlist=pypy39-pytest{4,5,60,61,62,70,71,72,73}"

    - name: Linting with Flake8
      if: matrix.python == '3.10'
      run: tox run -e flake8

  deploy:
    if: |
      github.event_name == 'push' &&
      startsWith(github.event.ref, 'refs/tags') &&
      github.repository == 'pytest-dev/pytest-describe'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade wheel setuptools setuptools_scm

      - name: Build package
        run: python setup.py sdist bdist_wheel

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
